In [27]:
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [28]:
iris = load_iris()
# display(iris)
df = pd.DataFrame(iris.data,columns=iris.feature_names)
df['target'] = iris.target
display(df)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [19]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [32]:
df["flowers_names"] =df.target.apply(lambda  x : iris.target_names[x])
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flowers_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [33]:
x=df.drop(["target","flowers_names"],axis=1)
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=5)

In [34]:
iris_svm_model = SVC(kernel="linear",random_state=20)
iris_svm_model.fit(X_train,y_train)

SVC(kernel='linear', random_state=20)

In [38]:
y_pred= iris_svm_model.predict(X_test)
iris_svm_model.score(X_test, y_test)
iris_svm_model.score(X_train, y_train)

0.9916666666666667